<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>
<body>
	<!-- 로그인 된 경우 -->
	    <div th:if="${loggedIn}">
	        <h1>환영합니다!</h1>
	        
	        <!-- 프로필 이미지 -->
	        <img th:src="${picture}" alt="Profile Picture" style="width: 100px; height: 100px; border-radius: 50%;">
	        
	        <p>이름: <span th:text="${name}"></span></p>
	        <p>이메일: <span th:text="${email}"></span></p>
	        
	        <a href="/logout">로그아웃</a>
	    </div>
</body>
</html>